.element__img {
    width: 100%;
    max-height: 203px;
    object-fit: cover;
    display: block;

}

.element__description {
    display: flex;
    flex-direction: column;
}

.element__sign {
    display: flex;
    justify-content: space-between;
}

.element__title {
    font-weight: 500;
    font-size: 13px;
    color: #fff;
    padding-top: 16px;
    padding-left: 16px;
    margin: 0;
}

.element__subtitle {
    font-weight: 400;
    font-size: 11px;
    color: #8b8b8b;
    padding-left: 16px;
    padding-bottom: 16px;
    padding-top: 10px;
}

.element__like {
    background-image: url(../../images/save4d.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    background-color: #202020;
    cursor: pointer;
    padding: 0;
    margin-top: 9px;
    margin-right: 16px;
    border: none;
}

.element__like_active {
    background-image: url(../../images/save4.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    background-color: #202020;
    cursor: pointer;
    padding: 0;
    margin-top: 9px;
    margin-right: 16px;
    border: none;
}

.element__trash {
    background-image: url(../../images/closebutton.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #202020;
    border: none;
    cursor: pointer;
    width: 8px;
    height: 8px;
    margin-top: 20px;
}