.movies {

    padding-left: 70px;
    padding-right: 70px;

}

@media screen and (max-width: 1023px) {
    .movies {

        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 81px;

    }
}

@media screen and (max-width: 767px) {
    .movies {

        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 101px;

    }
}